[dohtml]<style>
#cami .alaniiscon { background-image: url('https://i.pinimg.com/originals/25/db/75/25db751422286e9d919c7d450545954e.gif');}
#briseis .alaniiscon {background-image: url('https://64.media.tumblr.com/4381554…/5b413bc4e3831b67-11/s540x810/386e664….gif');}      
#florian.alaniiscon {background-image: url('https://64.media.tumblr.com/1ee7990c6c463aa22b5d96a79dcadf50/66d0d416443492c4-8f/s540x810/ec73fd4f104e0bb50af37ef7d50185e971426279.gif');}
#mia.alaniiscon {background-image: url('https://64.media.tumblr.com/ebdddc84f0ad3723db48442792581428/3618aee20ea7d287-36/s540x810/f62811ffec225a82d4a664e2fad29b7a8e90de89.gif');}
#river.alaniiscon {background-image: url('https://64.media.tumblr.com/fceffe3670735ca17c0962f0beacc5a8/dfffacdd403fc938-f7/s540x810/1e0116c48a272db8fe310971667b7e99a2512fc2.gif');}
#novo.alaniiscon {background-image: url('escolher gif aqui');}
#novo2.alaniiscon {background-image: url('escolher gif aqui');}

</style>

<div id="biotico"><div id="brisis"><div class="alaniiscon"><div class="alaniiside"><div style="position: sticky; top: 0px;"><h1>here comes the darkness it's eating all my soul
</h1></div></div> <div class="alaniispost">
<div class="alaniisgif"><div class="alaniisgif1"></div></div></div>

TEXTO AQUI 
</div></div></div>
[/dohtml]
