/* CÓDIGO CRIADO POR GABSEU - USO LIVRE */
@import url ('https://fonts.googleapis.com/css2?family=Diphylleia&family=Noto+Sans+TC:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

@font-face {
    font-family: 'Chronos Stroke';
    src: url('https://files.jcink.net/uploads/essicodes/ChronosSerif_Stroked.ttf');
}

.diana {
    width: 500px;
    background: var(--imagem-fundo, url('https://i.imgur.com/KT35wPh.jpeg')), linear-gradient(to bottom, rgba(0, 0, 0, 1) 45%, rgba(24.24, 24, 1) 85%, rgba(30.30, 30, 1) 90%, rgba(155, 155, 155, 0.2) 100%), var(--cor-grupo);
    background-blend-mode: multiply;
    background-size: cover;
    min-height: 200px;
    margin: auto auto;
    background-attachment: fixed;
    background-position-x: center;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.6);
    --cacador: #3EB595;
    --ciborgue: #79A1F7;
    --feiticeiro: #5b2491;
    --gorgona: #ff8097;
    --licantropo: #ff8d00;
    --metamorfo: #C76969;
    --sereiano: #80D2F2;
    --vampiro: #821718;
    --biotico-rgba: rgba(49, 99, 62, 0.6);
    --cacador-rgba: rgba(62, 181, 149, 0.6);
    --ciborgue-rgba: rgba(121, 161, 247, 0.6);
    --feiticeiro-rgba: rgba(91, 36, 145, 0.6);
    --gorgona-rgba: rgba(255, 128, 151, 0.6);
    --licantropo-rgba: rgba(255, 141, 0, 0.6);
    --metamorfo-rgba: rgba(199, 105, 105, 0.6);
    --sereiano-rgba: rgba(128, 210, 242, 0.6);
    --vampiro-rgba: rgba(130, 23, 24, 0.6);

}

#biotico .diana {
    --cor-grupo: #31633e;
    --cor-rgba: rgba(49, 99, 62, 0.6);
}

#cacador .diana {
    --cor-grupo: #3EB595;
    --cor-rgba: rgba(62, 181, 149, 0.6);
}

#ciborgue .diana {
    --cor-grupo: #79A1F7;
    --cor-rgba: rgba(121, 161, 247, 0.6);
}

#feiticeiro .diana {
    --cor-grupo: #5b2491;
    --cor-rgba: rgba(91, 36, 145, 0.6);
}

#gorgona .diana {
    --cor-grupo: #ff8097;
    --cor-rgba: rgba(255, 128, 151, 0.6);
}

#licantropo .diana {
    --cor-grupo: #ff8d00;
    --cor-rgba: rgba(255, 141, 0, 0.6);
}

#metamorfo .diana {
    --cor-grupo: #C76969;
    --cor-rgba: rgba(199, 105, 105, 0.6);
}

#sereiano .diana {
    --cor-grupo: #80D2F2;
    --cor-rgba: rgba(128, 210, 242, 0.6);
}

#vampiro .diana {
    --cor-grupo: #821718;
    --cor-rgba: rgba(130, 23, 24, 0.6);
}

.diana h1 {
    font-family: 'Chronos Stroke', cursive;
    font-size: 20px;
    color: var(--cor-rgba);
    text-align: left;
    padding: 20px 20px;
    text-transform: uppercase;
    border-bottom: 1px solid var(--cor-rgba);
}


.diana-imagem {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: var(--imagem-grupo), #000;
    outline: 1px solid rgba(305, 305, 305, 0.4);
    outline-offset: 3px;
    margin: -60px 395px;

}

.texto-diana {
    font-family: 'Noto Sans TC';
    font-size: 12px;
    line-height: 14px;
    color: #e1e1e1;
    white-space: pre-line;
    padding: 50px 80px;
}

.texto-diana b, .texto-diana i {font-family: "Diphylleia", serif; font-size: 12.5px; color: var(--cor-grupo); font-weight: 100;}
