@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Ysabeau+Infant:ital,wght@1,1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap');
@import url ('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@media only screen and  (min-device-width: 900px) {
  .gabreu {
    width: 300px;
  }
}
@media only screen and  (min-device-width: 1000px) {
  .gabreu {
    width: 300px;
  }
}
@media only screen and (min-device-width: 1100px) {
  .gabreu {
    width: 300px;
  }
}
#mobile .gabreu {width: 250px;}
.gabreu {
    display: block;
    margin: 20px auto;
    width: 700px; 
    --anjo: #0f698c;
    --atlanti: #80d2f2;
    --banshee: #fb31d5;
    --bruxo: #7d604f;
    --caçador: #3eb595;
    --demônio: #a3c0a2;
    --dimon: #9acd32;
    --djinn: #f9db4a;
    --fada: #ff8097;
    --feiticeiro: #5b2491;
    --jumper: #79844d;
    --kiang-shi: #d9bea7;
    --lobisomem: #ff8d00;
    --metamorfo: #a66eb6;
    --oneiro: #ae4b2a;
    --vampiro: #821718;
    --youkai: #c76969;
}
 #anjo .gabreu { 
     --cor-grupo: #0f698c;}

#atlanti .gabreu { 
 --cor-grupo: #80d2f2;
 --img-grupo: url("https://i.imgur.com/m8mFvUb.png");
 --img-hover: url('https://i.imgur.com/l5T0hR5.png');}

    #banshee .gabreu { 
     --cor-grupo: #fb31d5;}

    #bruxo .gabreu { 
     --cor-grupo: #7d604f;}

    #caçador .gabreu { 
     --cor-grupo: #3eb595;}

    #demônio .gabreu { 
    --cor-grupo: #a3c0a2;
    --img-grupo: url("https://64.media.tumblr.com/553af3c47bb658b4b8c5eda6063ca81b/032bdd6ba7c8b574-c6/s1280x1920/dc5a724f902727400b3113ab4914f0a92723a51e.jpg");
    --img-hover: url("https://64.media.tumblr.com/57054b9427a92bc8a72f819a29d6921f/41c450304a2ba807-9b/s640x960/049155799cdf0c9a150669b9c8132efee728ca64.gifv");
}

    #dimon .gabreu { 
     --cor-grupo: #9acd32;
     --img-grupo: url("https://i.imgur.com/KVQGQ1A.png");
     --img-hover: url('https://i.imgur.com/ksjuDJ7.png');}
    
   #djinn .gabreu { 
      --cor-grupo: #f9db4a;
      --img-grupo: url("https://i.imgur.com/GGjrQLK.png");
      --img-hover: url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExMGFjODhiMjkwNTVlMjc4YTk4OTE1ZmM3NTlmMmMyMTBkYmI0MWJmOCZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PWc/m5CNU8sBMeomY1EGtU/giphy.gif")
   
   }

    #fada .gabreu { 
     --cor-grupo: #ff8097;}

    #feiticeiro .gabreu { 
     --cor-grupo: #5b2491;}

    #jumper .gabreu { 
     --cor-grupo: #79844d;}

    #kiang-shi .gabreu { 
     --cor-grupo: #d9bea7;}

    #lobisomem .gabreu { 
     --cor-grupo: #ff8d00;}

    #metamorfo .gabreu { 
     --cor-grupo: #a66eb6;}

    #oneiro .gabreu { 
     --cor-grupo: #ae4b2a;
     --img-grupo: url("https://i.ibb.co/TBJpJnC/teste1.png");
     --img-hover: url('https://i.imgur.com/9oPOI73.png')!important;}
    

    #vampiro .gabreu { 
    --cor-grupo: #821718;
}

    #youkai .gabreu { 
    --cor-grupo: #c76969;} 

#deuses .gabreu {
    --cor-grupo: var(--deuses);
}

#estagiarios .gabreu {
    --cor-grupo: var(--estagiarios);
}

#legados .gabreu {
    --cor-grupo: var(--legados);
}

#indefinidos .gabreu {
    --cor-grupo: var(--indefinidos);
}

#afrodite .gabreu {
    --cor-grupo: var(--afrodite);
}

#apolo .gabreu {
    --cor-grupo: var(--apolo);
}

#ares .gabreu {
    --cor-grupo: var(--ares);
}

#aristeu .gabreu {
    --cor-grupo: var(--aristeu);
}

#astraeus .gabreu {
    --cor-grupo: var(--astraeus);
}

#atena .gabreu {
    --cor-grupo: var(--atena);
}

#belona .gabreu {
    --cor-grupo: var(--belona);
}

#demeter .gabreu {
    --cor-grupo: var(--demeter);
}

#despina .gabreu {
    --cor-grupo: var(--despina);
}

#dionisio .gabreu {
    --cor-grupo: var(--dionisio);
}

#eris .gabreu {
    --cor-grupo: var(--eris);
}

#eros .gabreu {
    --cor-grupo: var(--eros);
}

#eter .gabreu {
    --cor-grupo: var(--eter);
}

#hades .gabreu {
    --cor-grupo: var(--hades);
}

#hecate .gabreu {
    --cor-grupo: var(--hecate);
}

#hefesto .gabreu {
    --cor-grupo: var(--hefesto);
}

#heracles .gabreu {
    --cor-grupo: var(--heracles);
}

#hermes .gabreu {
    --cor-grupo: var(--hermes);
}

#hipnos .gabreu {
    --cor-grupo: var(--hipnos);
}

#jano .gabreu {
    --cor-grupo: var(--jano);
}

#kairos .gabreu {
    --cor-grupo: var(--kairos);
}

#melinoe .gabreu {
    --cor-grupo: var(--melinoe);
}

#nemesis .gabreu {
    --cor-grupo: var(--nemesis);
}

#nice .gabreu {
    --cor-grupo: var(--nice);
}

#pandora .gabreu {
    --cor-grupo: var(--pandora);
}

#persefone .gabreu {
    --cor-grupo: var(--persefone);
}

#poseidon .gabreu {
    --cor-grupo: var(--poseidon);
}

#psique .gabreu {
    --cor-grupo: var(--psique);
}

#tanatos .gabreu {
    --cor-grupo: var(--tanatos);
}

#zeus .gabreu {
    --cor-grupo: var(--zeus);
}

#mortos .gabreu {
    --cor-grupo: var(--mortos);
}

#iris .gabreu {
    --cor-grupo: var(--iris);
}

#artemis .gabreu {
    --cor-grupo: var(--artemis);
}

.gabreu-post ds {
    color: var(--deuses);
}

.gabreu-post lg {
    color: var(--legados);
}

.gabreu-post in {
    color: var(--indefinidos);
}

.gabreu-post af {
    color: var(--afrodite);
}

.gabreu-post ap {
    color: var(--apolo);
}

.gabreu-post ar {
    color: var(--ares);
}

.gabreu-post at {
    color: var(--atena);
}

.gabreu-post bn {
    color: var(--belona);
}

.gabreu-post dm {
    color: var(--demeter);
}

.gabreu-post dp {
    color: var(--despina);
}

.gabreu-post dn {
    color: var(--dionisio);
}

.gabreu-post eri {
    color: var(--eris);
}

.gabreu-post ero {
    color: var(--eros);
}

.gabreu-post et {
    color: var(--eter);
}

.gabreu-post hd {
    color: var(--hades);
}

.gabreu-post hc {
    color: var(--hecate);
}

.gabreu-post hf {
    color: var(--hefesto);
}

.gabreu-post hr {
    color: var(--heracles);
}

.gabreu-post hm {
    color: var(--hermes);
}

.gabreu-post hn {
    color: var(--hipnos);
}

.gabreu-post jn {
    color: var(--jano);
}

.gabreu-post kr {
    color: var(--kairos);
}

.gabreu-post ml {
    color: var(--melinoe);
}

.gabreu-post nm {
    color: var(--nemesis);
}

.gabreu-post nc {
    color: var(--nice);
}

.gabreu-post pd {
    color: var(--pandora);
}

.gabreu-post pr {
    color: var(--persefone);
}

.gabreu-post ps {
    color: var(--poseidon);
}

.gabreu-post pq {
    color: var(--psique);
}

.gabreu-post tn {
    color: var(--tanatos);
}

.gabreu-post zs {
    color: var(--zeus);
}

.gabreu-post mr {
    color: var(--mortos);
}

.gabreu-post ir {
    color: var(--iris);
}

.gabreu-post am {
    color: var(--artemis);
}

  .gabreu-post aj {
    font-size: 14px;
    font-style: oblique;
    color: var(--anjo);
    line-height: 15px}
    
.gabreu-post bx {
    font-size: 14px;
    font-style: oblique;
    color: var(--bruxo);
    line-height: 15px; }

.gabreu-post bs {
    font-size: 14px;
    font-style: oblique;
    color: var(--banshee);
    line-height: 15px; }
    

.gabreu-post cc {
    font-size: 14px;
    font-style: oblique;
    color: var(--caçador);
    line-height: 15px; }

.gabreu-post de {
    font-size: 14px;
    font-style: oblique;
    color: var(--demônio);
    line-height: 15px; }

.gabreu-post di {
    font-size: 14px;
    font-style: oblique;
    color: var(--dimon);
    line-height: 15px; }

.gabreu-post dj {
    font-size: 14px;
    font-style: oblique;
    color: var(--djinn);
    line-height: 15px; }

.gabreu-post fd {
    font-size: 14px;
    font-style: oblique;
    color: var(--fada);
    line-height: 15px; }

.gabreu-post ft {
    font-size: 14px;
    font-style: oblique;
    color: var(--feiticeiro);
    line-height: 15px; }

.gabreu-post jp {
    font-size: 14px;
    font-style: oblique;
    color: var(--jumper);
    line-height: 15px; }

.gabreu-post kg {
    font-size: 14px;
    font-style: oblique;
    color: var(--kiang-shi);
    line-height: 15px; }

.gabreu-post lb {
    font-size: 14px;
    font-style: oblique;
    color: var(--lobisomem);
    line-height: 15px; }

.gabreu-post mt {
    font-size: 14px;
    font-style: oblique;
    color: var(--metamorfo);
    line-height: 15px; }

.gabreu-post on {
    font-size: 14px;
    font-style: oblique;
    color: var(--oneiro);
    line-height: 15px; }

.gabreu-post vp {
    font-size: 14px;
    font-style: oblique;
    color: var(--vampiro);
    line-height: 15px; }

.gabreu-post yk {
    font-size: 14px;
    font-style: oblique;
    color: var(--youkai);
    line-height: 15px; }

.gabreu-post e {
    color: var(--cor-grupo);
    font-style: italic; 
  
}

.gabreu-head {
    background: var(--img-grupo), var(--cor-grupo);
    background-blend-mode: multiply;
    height: 250px;
    background-size: cover;
}

.gabreu-head:hover h1 {
    opacity: 0; 
    transition: 1s;
}

.gabreu-head:hover h2 {
    opacity: 0; 
    transition: 1s;
}

.gabreu-head h1 {
    opacity: 1;
    width: 180px;
    position: relative;
    top: calc(50% - 12px);
    left: calc(50% - 100px);
    font-family: 'Averia Serif Libre';
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--ctexto1), #eee;
    line-height: 12px;
    font-style: italic, bold;
    font-weight: 200;
    text-align: center;
    padding: 6px 10px;
    text-transform: uppercase;
}

[data-theme="dark"] .gabreu-head h1 {
    background-color: rgba(0, 0, 0, 0.8);
}

[data-theme="light"] .gabreu-head h1 {
    background-color: rgba(255, 255, 255, 0.3);
}

[data-theme="dark"] .gabreu-head h2 {
    background-color: rgba(0, 0, 0, 0.7);
}

[data-theme="light"] .gabreu-head h2 {
    background-color: rgba(255, 255, 255, 0.2);
}

.gabreu h2 {
    opacity: 1;
    line-height: 10px;
    width: 250px;
    border-radius: 10%;
    min-height: 41px;
    font-family: 'Oswald', sans-serif;
    font-size: 11px;
    color: var(--ctexto1), #eee;
    font-weight: 300;
    text-justify: center;
    text-align: justify;
    padding: 5px 10px;
    position: relative;
    top: calc(53% - 25px);
    left: calc(50% - 130px);
    background-color: rgba(0, 0, 0, 0.7);

}

.gabreu-texto {
    position: relative;
    min-height: 350px;
    background-color: var(--fundo2, #181818);
}

.gabreu-post {
    font-family: Merriweather;
    font-size: 16px;
    text-align: justify;
    padding: 30px 60px;
    margin: 0px 25px 30px 25px;
    line-height: 14px;
    color: var(--ctexto1, #eee);
    white-space: pre-line;
}

.gabreu-icon:before {
    content: '';
    display: grid;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    width: 120px;
    height: 120px;
    background-image: var(--img-icon);
    background-size: cover;
}

.gabreu-icon {
    position: absolute;
    left: 0px;
    height: 120px;
    width: 120px;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    border: 5px solid var(--cor-grupo);
    background: var(--cor-grupo);
}

.gabreu-hover:hover .gabreu-icon1 {
    opacity: 1;
    transition: 0.5s
}

.gabreu-hover:hover .gabreu-icon2 {
    opacity: 1;
    transition: 1s
}

.gabreu-hover:hover .gabreu-icon3 {
    opacity: 1;
    transition: 1.5s;
}

.gabreu-hover:hover .gabreu-icon4 {
    opacity: 1;
    transition: 2s;
}

.gabreu-icon1 {
    opacity: 0;
    position: absolute;
    top: 120px;
    left: 10px;
    min-height: 10px;
    width: 100px;
    padding: 5px;
    text-align: center;
    line-height: 10px;
    font-size: 9px;
    letter-spacing: 1px;
    font-family: 'Karla', sans-serif;
    border-radius: 10px;
    background: var(--cor-grupo);
}

.gabreu-icon2 {
    opacity: 0;
    position: absolute;
    top: 155px;
    left: 10px;
    min-height: 10px;
    width: 100px;
    padding: 5px;
    text-align: center;
    line-height: 10px;
    font-size: 9px;
    letter-spacing: 1px;
    font-family: 'Karla', sans-serif;
    border-radius: 10px;
    background: var(--cor-grupo);
}

.gabreu-icon3 {
    opacity: 0;
    position: absolute;
    top: 180px;
    left: 10px;
    min-height: 10px;
    line-height: 10px;
    width: 100px;
    padding: 5px;
    text-align: center;
    font-size: 9px;
    letter-spacing: 1px;
    font-family: 'Karla', sans-serif;
    border-radius: 10px;
    background: var(--cor-grupo);
}

.gabreu-icon4 {
    opacity: 0;
    position: absolute;
    top: 205px;
    left: 10px;
    min-height: 10px;
    line-height: 10px;
    width: 100px;
    padding: 5px;
    text-align: center;
    font-size: 9px;
    letter-spacing: 1px;
    font-family: 'Karla', sans-serif;
    border-radius: 10px;
    background: var(--cor-grupo);
}

.gabreu-icon4 a {
    color:#fff;
}

.gabreu-hover {height: 250px; width: 120px; position: absolute; top: 10px; left:-60px; }
