/* CÓDIGO CRIADO POR MITCH COM ALGUNS ALTERAÇÕES FEITAS POR GABSEU — USO LIVRE */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

      .gabreucon { color: #888;
      width: 600px; outline: 1px solid var(--cor-grupo, #fff); outline-offset: -20px;
      margin: 30px auto;
      background-color: var(--cor-grupo);
      background-image: linear-gradient(to top, #fff 0,1%, rgba(0,0,0,1) 45%, rgba(24.24,24,1) 75%, rgba(26.26,26,1) 95%, #fff 100%);
      background-blend-mode: multiply;


    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 300px auto;
    grid-template-areas:
    "gabreuheader"
    "gabreupost";}

  .gabreucon b { color: #bbb;
    padding: 2px 0px;
    font-weight: 700; }

   .gabreucon { 
    --anjo: #0f698c;
    --atlanti: #80d2f2;
    --banshee: #fb31d5;
    --bruxo: #7d604f;
    --caçador: #3eb595;
    --demônio: #a3c0a2;
    --dimon: #9acd32;
    --djinn: #f9db4a;
    --fada: #ff8097;
    --feiticeiro: #5b2491;
    --jumper: #79844d;
    --kiang-shi: #d9bea7;
    --lobisomem: #ff8d00;
    --metamorfo: #a66eb6;
    --oneiro: #ae4b2a;
    --vampiro: #821718;
    --youkai: #c76969;}

    #anjo .gabreucon { 
     --cor-grupo: #0f698c;}

#atlanti .gabreucon { 
 --cor-grupo: #80d2f2;
 --img-grupo: url("https://i.imgur.com/m8mFvUb.png");
 --img-hover: url('https://i.imgur.com/l5T0hR5.png');}

    #banshee .gabreucon { 
     --cor-grupo: #fb31d5;}

    #bruxo .gabreucon { 
     --cor-grupo: #7d604f;}

    #caçador .gabreucon { 
     --cor-grupo: #3eb595;}

    #demônio .gabreucon { 
    --cor-grupo: #a3c0a2;
    --img-grupo: url("https://64.media.tumblr.com/553af3c47bb658b4b8c5eda6063ca81b/032bdd6ba7c8b574-c6/s1280x1920/dc5a724f902727400b3113ab4914f0a92723a51e.jpg");
    --img-hover: url("https://64.media.tumblr.com/57054b9427a92bc8a72f819a29d6921f/41c450304a2ba807-9b/s640x960/049155799cdf0c9a150669b9c8132efee728ca64.gifv");
}

    #dimon .gabreucon { 
     --cor-grupo: #9acd32;
     --img-grupo: url("https://i.imgur.com/KVQGQ1A.png");
     --img-hover: url('https://cdn.discordapp.com/attachments/971926292830224424/1115408340948893808/rent_1.gif')!important;}
    
   #djinn .gabreucon { 
      --cor-grupo: #f9db4a;
      --img-grupo: url("https://i.imgur.com/GGjrQLK.png");
      --img-hover: url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExMGFjODhiMjkwNTVlMjc4YTk4OTE1ZmM3NTlmMmMyMTBkYmI0MWJmOCZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PWc/m5CNU8sBMeomY1EGtU/giphy.gif")
   
   }

    #fada .gabreucon { 
     --cor-grupo: #ff8097;}

    #feiticeiro .gabreucon { 
     --cor-grupo: #5b2491;}

    #jumper .gabreucon { 
     --cor-grupo: #79844d;}

    #kiang-shi .gabreucon { 
     --cor-grupo: #d9bea7;}

    #lobisomem .gabreucon { 
     --cor-grupo: #ff8d00;}

    #metamorfo .gabreucon { 
     --cor-grupo: #a66eb6;}

    #oneiro .gabreucon { 
     --cor-grupo: #ae4b2a;
     --img-grupo: url("https://i.ibb.co/TBJpJnC/teste1.png");
     --img-hover: url('https://i.imgur.com/9oPOI73.png')!important;}
    

    #vampiro .gabreucon { 
    --cor-grupo: #821718;
}

    #youkai .gabreucon { 
    --cor-grupo: #c76969;} 

    #oneiro .gabreuide h1::before{content: "I'm the worst in you";} 

    #oneiro .gabreuide h2::before{content: "yet it tastes so good";} 

    #atlanti .gabreuide h1::before{content: "Drove away from the shore";} 

    #atlanti .gabreuide h2::before{content: "Lost myself in drowning thoughts";} 

    #dimon .gabreuide h1::before{content: "I shine in the outside";} 

    #dimon .gabreuide h2::before{content: "So I don't get lost in the darkness inside";}

    #djinn .gabreuide h1::before{content: "In the dust of my ancestors";} 

    #djinn .gabreuide h2::before{content: "All of our opressors shall be buried";}

   .gabreuide h1::before{content: "Skin default";} 

   .gabreuide h2::before{content: "default text";} 
   
   .gabreucon .gabreupost { grid-area: gabreupost; outline: 1px solid var(--cor-grupo, #fff); outline-offset: -20px;
    padding: 90px; margin-top: -19px;
    text-align: justify; color: #ddd; letter-spacing: 0px;
    font-family: 'montserrat', serif;
    font-size: 13px!important;
    line-height: 18px;
    white-space: pre-line;}

  .gabreuide { padding: 20px;
    grid-area: gabreuheader; background-size: cover;
    background-position: top center;  background-blend-mode: multiply;
    text-transform: uppercase; font-family: montserrat;
    font-size: 8px; color: #fff; font-style: italic;
    letter-spacing: 1px; justify-content: space-evenly;}


.gabreucon h1 { font-size: 28px; text-transform: uppercase; 
  letter-spacing: 2px; font-style: italic; font-weight: 200; 
  padding: 20px; text-align: center; margin: 80px auto 0px; border-bottom: 1px solid rgba(255,255,255,0.1); border-top: 1px solid rgba(255,255,255,0.1);}

.gabreucon h2 { font-size: 8px; text-transform:   uppercase; font-weight: 400;
  background: rgba(0,0,0,0.2); letter-spacing: 2px;
  padding: 10px 20px; text-align: left; margin-top: 10px;}

.gabreuide { background-color: var(--cor-grupo); background-image:var(--img-grupo, url("https://64.media.tumblr.com/882a8e74667cd78f5c0fa81a07e9a0e5/cb36446192e23925-e5/s1280x1920/01ad0a9c83e563f84276452949476141db0d2c9c.jpg")); }

.gabreuide:hover{background-image: var(--img-hover); }

.gabreucon e { color: var(--cor-grupo); font-weight: bold; }

.gabreucon d { background-color: var(--cor-grupo); color:#fff; font-weight: bold; }

.gabreucon i {color: var(--cor-grupo); }

 .gabreucon ig {text-align: center; }

.gabreucon ig::before{  align-content: center; content: "༄༄༄"; color: var(--cor-grupo);}
