.Lewin00 { width: 600px; background-color: #fff; box-shadow: 0 0 5px #d5d5d5; padding: 5px  }
.Lewin01 { text-align: justify; font-family: eb garamond; font-size: 14px; padding: 50px; color: #bcbcbc; border: solid 1px #e8e8e8; line-height: 150% }
.Lewin01 b { font-size: 17px; color: #3F76A6 }
.Lewin01 i { font-size: 16px; color: #3F76A6 }
.Lewin05 a { color: #3F76A6 }
.Lewin02 { font-family: poppins; font-weight: 700; font-size: 35px; text-transform: uppercase; color: #3F76A6; }
.Lewin03 { width: 140px; font-family: lekton; font-size: 8px; text-align: justify; padding: 40px; text-transform: uppercase; color: #bcbcbc; line-height:150%   }
.Lewin04 { line-height: 80%; width: 180px; font-family: poppins; font-weight: 800; font-size: 29px; color: #A6443F; text-transform: uppercase; text-align: right }
.Lewin05 { margin-top: 50px; padding-top: 2px; border-top: dotted 1px #bcbcbc; font-family: lekton; font-weight: 400; font-size: 10px; text-transform: uppercase; text-align: center }
.Lewin05 a { color: #A6443F; font-size: 10px }
.Lewin05 b { color: #A6443F; font-size: 11px }
.Lewin05 u { color: #A6443F; font-size: 10px }
.vulpevulpe { text-transform: uppercase; width: 500px; text-align: right; font-family: poppins; font-size: 9px; color: #bcbcbc; padding: 5px }
