.ghae {
    width: 600px;
    margin: 20px auto;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);

    --anjo: #0f698c;
    --atlanti: #80d2f2;
    --banshee: #fb31d5;
    --bruxo: #7d604f;
    --cacador: #3eb595;
    --demonio: #a3c0a2;
    --dimon: #9acd32;
    --djinn: #f9db4a;
    --fada: #ff8097;
    --feiticeiro: #5b2491;
    --jumper: #79844d;
    --kiang-shi: #d9bea7;
    --lobisomem: #ff8d00;
    --metamorfo: #a66eb6;
    --oneiro: #ae4b2a;
    --vampiro: #821718;
    --youkai: #c76969;
    --aclis: #6b8e23;
    --afrodite: #fd87b3;
    --anemoi: #6baea0;
    --apolo: #e8c361;
    --ares: #e14e3e;
    --artemis: #7F8A92;
    --atena: #E56627;
    --asclepio: #1F8559;
    --deimoss: #3e3e3e;
    --demeter: #65AC55;
    --dionisio: #7d0c43;
    --enio: #e77266;
    --eris: #aa6f73;
    --eros: #cc4e7d;
    --hades: #555f61;
    --helio: #C1A96D;
    --hecate: #abb1cf;
    --hefesto: #683609;
    --heracles: #b8af47;
    --hermes: #82bdc0;
    --hipnos: #744A7D;
    --iris: #fab1a0;
    --kairos: #61639F;
    --melinoe: #61585F;
    --mnemosine: #8a2be2;
    --momo: #A06DA4;
    --nemesis: #b5130d;
    --nice: #D4AF37;
    --oneiros: #503789;
    --persephone: #a45b72;
    --phobos: #424242;
    --ponos: #987043;
    --poseidon: #4276ab;
    --quione: #abcee0;
    --sanco: #668AA4;
    --selene: #988E9B;
    --tanatos: #444443;
    --zeus: #536781;
    --biotico: #31633e;
    --cacador: #3EB595;
    --ciborgue: #79A1F7;
    --feiticeiro: #5b2491;
    --gorgona: #ff8097;
    --licantropo: #ff8d00;
    --metamorfo: #C76969;
    --sereiano: #80D2F2;
    --vampiro: #821718;    
--anjo-rgba: rgba(15, 105, 140, 0.6);
--atlanti-rgba: rgba(128, 210, 242, 0.6);
--banshee-rgba: rgba(251, 49, 213, 0.6);
--bruxo-rgba: rgba(125, 96, 79, 0.6);
--cacador-rgba: rgba(62, 181, 149, 0.6);
--demonio-rgba: rgba(163, 192, 162, 0.6);
--dimon-rgba: rgba(154, 205, 50, 0.6);
--djinn-rgba: rgba(249, 219, 74, 0.6);
--fada-rgba: rgba(255, 128, 151, 0.6);
--feiticeiro-rgba: rgba(91, 36, 145, 0.6);
--jumper-rgba: rgba(121, 132, 77, 0.6);
--kiang-shi-rgba: rgba(217, 190, 167, 0.6);
--lobisomem-rgba: rgba(255, 141, 0, 0.6);
--metamorfo-rgba: rgba(166, 110, 182, 0.6);
--oneiro-rgba: rgba(174, 75, 42, 0.6);
--vampiro-rgba: rgba(130, 23, 24, 0.6);
--youkai-rgba: rgba(199, 105, 105, 0.6);
--aclis-rgba: rgba(107, 142, 35, 0.6);
--afrodite-rgba: rgba(253, 135, 179, 0.6);
--anemoi-rgba: rgba(107, 174, 160, 0.6);
--apolo-rgba: rgba(232, 195, 97, 0.6);
--ares-rgba: rgba(225, 78, 62, 0.6);
--artemis-rgba: rgba(127, 138, 146, 0.6);
--atena-rgba: rgba(229, 102, 39, 0.6);
--asclepio-rgba: rgba(31, 133, 89, 0.6);
--deimoss-rgba: rgba(62, 62, 62, 0.6);
--demeter-rgba: rgba(101, 172, 85, 0.6);
--dionisio-rgba: rgba(125, 12, 67, 0.6);
--enio-rgba: rgba(231, 114, 102, 0.6);
--eris-rgba: rgba(170, 111, 115, 0.6);
--eros-rgba: rgba(204, 78, 125, 0.6);
--hades-rgba: rgba(85, 95, 97, 0.6);
--helio-rgba: rgba(193, 169, 109, 0.6);
--hecate-rgba: rgba(171, 177, 207, 0.6);
--hefesto-rgba: rgba(104, 54, 9, 0.6);
--heracles-rgba: rgba(184, 175, 71, 0.6);
--hermes-rgba: rgba(130, 189, 192, 0.6);
--hipnos-rgba: rgba(116, 74, 125, 0.6);
--iris-rgba: rgba(250, 177, 160, 0.6);
--kairos-rgba: rgba(97, 99, 159, 0.6);
--melinoe-rgba: rgba(97, 88, 95, 0.6);
--mnemosine-rgba: rgba(138, 43, 226, 0.6);
--momo-rgba: rgba(160, 109, 164, 0.6);
--nemesis-rgba: rgba(181, 19, 13, 0.6);
--nice-rgba: rgba(212, 175, 55, 0.6);
--oneiros-rgba: rgba(80, 55, 137, 0.6);
--persephone-rgba: rgba(164, 91, 114, 0.6);
--phobos-rgba: rgba(66, 66, 66, 0.6);
--ponos-rgba: rgba(152, 112, 67, 0.6);
--poseidon-rgba: rgba(66, 118, 171, 0.6);
--quione-rgba: rgba(171, 206, 224, 0.6);
--sanco-rgba: rgba(102, 138, 164, 0.6);
--selene-rgba: rgba(152, 142, 155, 0.6);
--tanatos-rgba: rgba(68, 68, 67, 0.6);
--zeus-rgba: rgba(83, 103, 129, 0.6);
--biotico-rgba: rgba(49, 99, 62, 0.6);
--cacador-rgba: rgba(62, 181, 149, 0.6);
--ciborgue-rgba: rgba(121, 161, 247, 0.6);
--feiticeiro-rgba: rgba(91, 36, 145, 0.6);
--gorgona-rgba: rgba(255, 128, 151, 0.6);
--licantropo-rgba: rgba(255, 141, 0, 0.6);
--metamorfo-rgba: rgba(199, 105, 105, 0.6);
--sereiano-rgba: rgba(128, 210, 242, 0.6);
--vampiro-rgba: rgba(130, 23, 24, 0.6);
}

#bio .ghae {
    --cor-grupo: #31633e;
    --img-grupo: url('https://64.media.tumblr.com/a62d8a57d7eb05b8442b860def92d7db/09518963235ee7e3-92/s2048x3072/1c5536a123a073e4ade979e62f51d358d08e66cf.pnj');
    --img-hover: url("https://64.media.tumblr.com/eb58e141dd77398fadc150ba2f2ad27c/49923ccafea1ba4d-11/s540x810/7727c961c485ad2ed82e5a822d003e82bcd311e5.gifv");
    --img-circle: url('https://64.media.tumblr.com/a932c2624bf07f48d5ce608507aa3763/09518963235ee7e3-33/s250x400/6f374e91498f7ea2c215a7079b0fb94f9b8c8c40.pnj');
    --outra-cor: rgb(0, 90, 125);
}


.ghae-head {
    position: relative;
    display: grid;
    height: 300px;
    width: 600px;
    background-image: var(--img-grupo);
    background-color: var(--cor-grupo);
    background-blend-mode: multiply;
    background-size: cover;
    transition: 1s;
}

.ghae-head:hover {
    background-image: var(--img-hover);
}

.ghae-head h1 {
    font-size: 28px;
    font-weight: 500;
    font-family: 'Karla', sans-serif;
    color: #fff;
    font-style: italic;
    text-transform: uppercase;
    position: relative;
    top: 5px;
    text-align: right;
    padding-right: 10px;
}

.ghae-head h2 {
    display: none;
    font-size: 36px;
    font-family: 'Karla', sans-serif;
    color: #fff;
    font-style: italic;
    text-transform: uppercase;
    position: relative;
    top: 5px;
    text-align: right;
    padding-right: 10px;
    font-weight: 700;
    font-style: italic;
    opacity: .6;
}

.ghae-head:hover h2 {
    display: block;
}

.ghae-head b {
    color: var(--cor-grupo);
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    font-weight: 300;
    font-style: italic;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.ghae-img:before {
    content: '';
    display: grid;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    width: 120px;
    height: 120px;
    background-image: var(--img-circle);
    background-size: cover;
}

.ghae-img {
    position: sticky;
    top: 0px;
    height: 120px;
    width: 120px;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    margin-left: -144px;
    margin-top: -300px;
    border: 5px solid var(--cor-grupo);
    background: var(--cor-grupo);
}


.ghae-box2 {
    visibility: hidden;
    position: absolute;
    background: rgba(14, 14, 14, 0.6);
    height: 23px;
    width: 200px;
    top: 155px;
    margin-top: 5px;
    font-family: 'montserrat';
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 1);
    line-height: 10px;
    text-align: center;
    padding-top: 7px;}

.ghae-box4 {
    visibility: hidden;
    position: absolute;
    background: rgba(14, 14, 14, 0.6);
    height: 23px;
    width: 200px;
    top: 195px;
    margin-top: 5px;
    font-family: 'montserrat';
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 1);
    line-height: 10px;
    text-align: center;
    padding-top: 7px;}

.ghae-box3 {
    visibility: hidden;
    position: absolute;
    background: rgba(14, 14, 14, 0.6);
    height: 23px;
    width: 200px;
    margin-top: 5px;
    top: 235px;
    font-family: 'montserrat';
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 1);
    line-height: 10px;
    text-align: center;
    padding-top: 7px;}

.ghae-head:hover .ghae-box2 {
    visibility: visible;
}

.ghae-head:hover .ghae-box3 {
    visibility: visible;
}

.ghae-head:hover .ghae-box4 {
    visibility: visible;
}


.ghae-head:hover h1 {
    visibility: hidden;
}

.ghae-text {
    outline: var(--cor-grupo) dashed 2px;
    outline-offset: -20px;
    min-height: 200px;
    background-color: var(--cor-grupo);
    background-image: linear-gradient(to top, #fff 0, 1%, rgba(0, 0, 0, 1) 45%, rgba(24.24, 24, 1) 75%, rgba(26.26, 26, 1) 100%);
    background-blend-mode: hard-light;
    color: #FFF; 
    padding: 20px 80px;
    font-size: 13.5px;
    font-family: 'Libre Franklin';
    line-height: 14.5px;
    text-align: justify;
}

.ghae-head a {
    color: var(--cor-grupo);
}

.ghae-text e {
    font-size: 11px;
    font-style: oblique;
    background-color: var(--cor-grupo);
    line-height: 15px;

}

#feiticeiro .ghae-text i {
    color: #8137cb;
}

.ghae-text at {
    font-size: 11px;
    font-style: oblique;
    color: var(--atlanti);
    line-height: 15px
}


.ghae-text aj {
    font-size: 11px;
    font-style: oblique;
    color: var(--anjo);
    line-height: 15px
}

.ghae-text bx {
    font-size: 11px;
    font-style: oblique;
    color: var(--bruxo);
    line-height: 15px;
}

.ghae-text bs {
    font-size: 11px;
    font-style: oblique;
    color: var(--banshee);
    line-height: 15px;
}


.ghae-text cc {
    font-size: 11px;
    font-style: oblique;
    color: var(--cacador);
    line-height: 15px;
}

.ghae-text de {
    font-size: 11px;
    font-style: oblique;
    color: var(--demonio);
    line-height: 15px;
}

.ghae-text di {
    font-size: 11px;
    font-style: oblique;
    color: var(--dimon);
    line-height: 15px;
}

.ghae-text dj {
    font-size: 11px;
    font-style: oblique;
    color: var(--djinn);
    line-height: 15px;
}

.ghae-text fd {
    font-size: 11px;
    font-style: oblique;
    color: var(--fada);
    line-height: 15px;
}

.ghae-text ft {
    font-size: 11px;
    font-style: oblique;
    color: var(--feiticeiro);
    line-height: 15px;
}

.ghae-text jp {
    font-size: 11px;
    font-style: oblique;
    color: var(--jumper);
    line-height: 15px;
}

.ghae-text kg {
    font-size: 11px;
    font-style: oblique;
    color: var(--kiang-shi);
    line-height: 15px;
}

.ghae-text lb {
    font-size: 11px;
    font-style: oblique;
    color: var(--lobisomem);
    line-height: 15px;
}

.ghae-text mt {
    font-size: 11px;
    font-style: oblique;
    color: var(--metamorfo);
    line-height: 15px;
}

.ghae-text on {
    font-size: 11px;
    font-style: oblique;
    color: var(--oneiro);
    line-height: 15px;
}

.ghae-text vp {
    font-size: 11px;
    font-style: oblique;
    color: var(--vampiro);
    line-height: 15px;
}

.ghae-text yk {
    font-size: 11px;
    font-style: oblique;
    color: var(--youkai);
    line-height: 15px;
}

.ghae-text o {
    font-size: 11px;
    font-style: oblique;
    color: var(--outra-cor);
    line-height: 15px;
}

.ghae-text i {
    color: var(--cor-grupo);
}

.texto {
    white-space: pre-line;
    margin-top: 200px;
    padding: 50px 0px;

}

.ghae-text ig::before {
    display: block;
    font-size: 24px;
    padding: 0 190px;
    content: "༄༄༄";
    color: var(--cor-grupo);
}

#dimon .ghae-text ig::before {
    content: url('https://i.imgur.com/kSyLuig.png');
    filter: hue-rotate(90deg);
    height: 20px;
    width: 20px;
}

.ghae-head h1::before {visibility: hidden;
  counter-increment: section;
  content:  ""counter(section)" ";}


.ghae-head h2:empty::before {
  counter-increment: section;
  content:  "#"counter(section)" ";}
