 @import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap');

  .pupscon { color: #fff;
    width: 570px; outline: 1px solid #fff; outline-offset: -10px;
    margin: 30px auto;
    border: 0px solid var(--white);
    background-attachment: fixed;
    background-size:cover;
    background-color: #DDDDDD;
    background-blend-mode: multiply;
    background-image: url(https://img.nickpic.host/qnD4XP.png);

    display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "avagif avapost"
    "avagif avanotes";}

.pupscon b { color: #fff;
  padding: 2px 0px;
  font-weight: 700; }

.pupscon .pupspost { width: calc(520px - 170px); grid-area: avapost;
  padding: 10px 55px 10px 75px; border-top: 1px solid #fff;
  text-align: justify; margin: 60px 10px 10px 0px; border-left: 1px solid #fff;
  font-family: monda;
  font-size: 12px!important;
  line-height: 220%;
  white-space: pre-wrap;}

.pupside { height: calc(100%);
  padding: 70px 50px; grid-area: avagif;
  letter-spacing: 1px; justify-content: space-evenly;}
  
.pupsidecky { position: sticky; top: 20px; margin-bottom: 160px; }

.pupsnotes { grid-area: avanotes; border-top: 1px solid #fff; margin: -10px 0px 10px 0px; width: calc(100% - 50px); padding: 20px;   text-transform: uppercase; font-family: monda;
font-size: 8px;}

.pupsgif1 { width: 60px; height: 60px; background-size: cover; background-position: center; background-image: url(https://64.media.tumblr.com/8a1ee75f8c096fbb87cc4a316644cb01/0858022eaed83c42-e1/s500x750/eaaede5ef6c722b4d136053ffa872a2779cd3337.gifv); margin: 15px 0px;}
.pupsgif2 { width: 60px; height: 60px; background-size: cover; background-position: center; background-image: url(https://64.media.tumblr.com/8a1ee75f8c096fbb87cc4a316644cb01/0858022eaed83c42-e1/s500x750/eaaede5ef6c722b4d136053ffa872a2779cd3337.gifv); margin: 15px 0px;}
.pupsgif3 { outline-offset: 5px; width: 60px; height: 60px; background-size: cover; background-position: center; background-image: url(https://64.media.tumblr.com/8a1ee75f8c096fbb87cc4a316644cb01/0858022eaed83c42-e1/s500x750/eaaede5ef6c722b4d136053ffa872a2779cd3337.gifv); margin: 15px 0px;}

#attina .pupscon { background-image: linear-gradient(180deg, #000000, #7ccee9);}
#attina .pupscon b { color: #66c5e5; }

#blair .pupscon { background-image: linear-gradient(180deg, #7f3d59, #aa5379);}
#blair .pupscon b { color: #f2d0ea; }

#clover .pupscon { background-image: linear-gradient(180deg, #000000, #f4c0be);}
#clover .pupscon b { color: #f2b6b3; }

#caitlyn .pupscon { background-image: linear-gradient(180deg, #37826d, #61a08e);}
#caitlyn .pupscon b { color: #02c990; }

#frankie .pupscon { background-image: linear-gradient(180deg, #C76969, #994e4e);}
#frankie .pupscon b { color: #f2a4a4; }

#lydia .pupscon { background-image: linear-gradient(180deg, #3D3126, #3D3126);}
#lydia .pupscon b { color: #f2b05e; }

#maeve .pupscon { background-image: linear-gradient(180deg, #505340, #505340);}
#maeve .pupscon b { color: #9ba86a; }

#sebastian .pupscon { background-image: linear-gradient(180deg, #842e2e, #541616);}
#sebastian .pupscon b { color: #ea2e2e; }

#valencia .pupscon { background-image: linear-gradient(180deg, #5f447a, #483859);}
#valencia .pupscon b { color: #9f79c4; }

#abbyzou .pupscon { background-image: linear-gradient(180deg, #374936, #789676);}
#abbyzou .pupscon b { color: #A3C0A2; }

#jane .pupscon { background-image: linear-gradient(180deg, #191501, #191501);}
#jane .pupscon b { color: #f9db4a; }
