   .rafo { 
    --anjo: #0f698c;
    --atlanti: #80d2f2;
    --banshee: #fb31d5;
    --bruxo: #7d604f;
    --caçador: #3eb595;
    --demônio: #a3c0a2;
    --dimon: #9acd32;
    --djinn: #f9db4a;
    --fada: #ff8097;
    --feiticeiro: #5b2491;
    --jumper: #79844d;
    --kiang-shi: #d9bea7;
    --lobisomem: #ff8d00;
    --metamorfo: #a66eb6;
    --oneiro: #ae4b2a;
    --vampiro: #821718;
    --youkai: #c76969;}
   
 #anjo .rafo { 
    --cor-grupo: #0f698c;}

 #atlanti .rafo { 
     --cor-grupo: #80d2f2;}

    #banshee .rafo { 
     --cor-grupo: #fb31d5;}

    #bruxo .rafo { 
     --cor-grupo: #7d604f;}

    #caçador .rafo { 
    --cor-grupo: #3eb595;}

    #demônio .rafo { 
     --cor-grupo: #a3c0a2;
     --img-grupo: url("https://i.servimg.com/u/f18/20/42/99/58/capa10.jpg");
     --img-circle: url("https://i.servimg.com/u/f18/20/42/99/58/quadra11.jpg");
     --img-hover: url("https://i.imgur.com/h0Yh3BL.jpg"); 
}


    #dimon .rafo { 
     --cor-grupo: #9acd32;}
    
   #djinn .rafo { 
    --cor-grupo: #f9db4a;}

    #fada .rafo { 
     --cor-grupo: #ff8097;}

    #feiticeiro .rafo { 
     --cor-grupo: #5b2491;
     --img-grupo: url("https://i.servimg.com/u/f18/20/42/99/58/lilitu12.jpg");
     --img-circle: url("https://i.servimg.com/u/f18/20/42/99/58/lilitu10.jpg");
     --img-hover: url("https://i.imgur.com/Ylob3XH.png");}

    #jumper .rafo { 
     --cor-grupo: #79844d;}

    #kiang-shi .rafo { 
     --cor-grupo: #d9bea7;}

    #lobisomem .rafo { 
    --cor-grupo: #ff8d00;}

    #metamorfo .rafo { 
     --cor-grupo: #a66eb6;}

    #oneiro .rafo { 
     --cor-grupo: #ae4b2a;}

    #vampiro .rafo { 
     --cor-grupo: #821718;
     --img-grupo: url("https://i.imgur.com/fLyTm2F.png");
     --img-circle: url("https://64.media.tumblr.com/7c4fcb70c669c18434b8b978f9c0a04d/d1e400d8f2d9ef43-bb/s540x810/ac5c496a1b68e40393d48e72da6c35fe320aa9f6.gifv");
     --img-hover: url("https://i.imgur.com/ljy0YCl.png");}

    #youkai .rafo { 
    --cor-grupo: #c76969;}

   .text-gabu {
     background: #050505; 
     height: auto; 
     width: 600px; 
     margin: auto; 
     padding-top: 1px; 
     padding-bottom: 25px; 
     position: relative; 
     border-right: 10px solid var(--cor-grupo, #fff); 
     color: #000; 
     box-shadow: 0 0 50px 0 rgba(0,0,0,0.100);} 

   .gabu-say {
     background: #050505; 
     width: 470px; 
     margin: 24px 25px 0 25px; font-family: 'Abhaya Libre', serif; 
     padding: 15px; 
     font-size: 16px; text-align: justify; color: #fff; 
     font-weight: 400; line-height: 17px; 
     float: left; min-height: 255px; 
     white-space: pre-line;}

   .gabu-say e{
     color: var(--cor-grupo, #fff); 
     font-family:'Montserrat';
     font-size:12.5px; 
     font-weight:800;} 

   .gabu-say i{
     color: var(--cor-grupo, #fff);
     font-style: italic; } 
    
   .circle-say {height: 120px; width: 120px; 
     position: absolute; 
     border-radius: 100%; 
     background-size:cover; 
     background-image: var(--img-circle, url("https://64.media.tumblr.com/e051c8eefecfec681e64d191a611ed39/17d45248eecd995f-25/s1280x1920/cd4b6ba690497dd9c05c3470905fab62707d9831.jpg"));
     background-color: var(--cor-grupo); 
     background-blend-mode: multiply;
     border: 10px solid var(--cor-grupo, #fff); 
     right: -75px; 
     top: 30px;} 

   .gabssolute1 {
     top: 180px; 
     position: absolute; 
     right: -25px; } 

   #cyala-sign {
    font-size: 6px; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
    margin:0; 
    font-family: arial; 
    margin-top: 10px;} 

   #cyala-sign a { text-decoration: none!important;} 
   
   .gabssolute2 {
     top: 230px; 
     position: absolute; 
     right: -25px;} 
   
   .gabssolute3 {
     top: 280px; 
     position: absolute; 
     right: -25px;} 
   
   .text-gabu .sf {
     background: #eee; color: #000; 
     height: 30px; 
     width: 30px; 
     display: block; 
     border-radius: 100%; 
     display: flex; justify-content:center;
     align-items: center;
     border: 5px solid var(--cor-grupo, #fff); 
     color: #333;} 
   
   .gabstiptext {
     background-color: var(--cor-grupo, #000); 
     color: #fff; 
     font-family: Lato; 
     font-size: 9px; 
     left: 50%; 
     margin-left: -75px; 
     letter-spacing: 1px; 
     padding: 5px; 
     position: absolute; 
     text-align: center; 
     text-transform: uppercase;
     top: 11px; 
     visibility: hidden; 
     width: 150px; 
     height: 10px; 
     line-height: 10.5px; 
     border-radius: 10px; } 

   .gabstip:hover .gabstiptext { 
     opacity: 1;
     visibility: visible; }

   .gabusimg { width: 610px;
     height: 300px;
     background-image: var(--img-grupo, url("https://64.media.tumblr.com/882a8e74667cd78f5c0fa81a07e9a0e5/cb36446192e23925-e5/s1280x1920/01ad0a9c83e563f84276452949476141db0d2c9c.jpg")); 
     background-size: cover; 
     background-color: var(--cor-grupo, #fff); 
     background-blend-mode: multiply; 
     margin-top: 30px;
     display: flex;
     align-items: center; 
     justify-content: center; } 

     .gabusimg:hover{
     background-image: var(--img-hover);}

     #demônio .gabusimg:hover{
      background-color: #79A477;}
   
   .gabu-dois { 
    font: 50px DX Sitrus;
    letter-spacing: -25px;
    line-height: 90%; 
    text-transform: uppercase; 
    letter-spacing: 0.5px; color: #C8DDC7; 
    text-align: center; 
    margin: 0px 0px 0px 0px;} 

    @font-face{font-family:'DX Sitrus';src:url(https://files.jcink.net/uploads/panemetcircenses/DxSitrus_Expanded.otf);font-weight:400;font-style:normal;font-display:swap;} 

    @font-face{font-family:'DX Sitrus';src:url(https://files.jcink.net/uploads/panemetcircenses/DxSitrus_ExpandedItalic.otf)

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat');

@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre:400,600,800&display=swap');
